<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="margin-left: 30%;" >Sheet Data</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="padding:5%;margin-top: 20%;">
    <ion-item lines="non"  style="margin-bottom:8%; padding: 4%;" *ngIf="this.service.fa">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [(ngModel)]="index"  placeholder="Select a type">
        <ion-select-option value="1">Major currencies</ion-select-option>
        <ion-select-option value="2">US Dollar index</ion-select-option>
        <ion-select-option value="3">Metals</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-textarea [(ngModel)]="r" rows="3" placeholder="Paste dates here"></ion-textarea>
    </ion-item>
    <ion-button (click)="submit()" shape="round" style="margin-left:25%;margin-top:5%" color="success">Generate Excel</ion-button>
  </div>
</ion-content>
