<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Navigation Bar</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Subheader</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="padding:5%;margin-top: 20%;">
    <ion-item lines="non" style="margin-bottom:8%;" *ngIf="this.service.fa">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-item>
    <ion-label>{{this.service.fa}}</ion-label>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [(ngModel)]="index"  placeholder="Select a type">
        <ion-select-option value="1">Major currencies</ion-select-option>
        <ion-select-option value="2">US Dollar index</ion-select-option>
        <ion-select-option value="3">Metals</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Number of dates</ion-label>
      <ion-input [(ngModel)]="a" type="number"></ion-input>
    </ion-item>
    <ion-item *ngFor="let e of [].constructor(a); let i = index">
      <ion-label>Date {{i+1}}</ion-label>
      <ion-input type="text" required="true" minlength=6 maxlength=6 name={{i+1}} [(ngModel)]="dt[i]"></ion-input>
    </ion-item>
    <ion-button (click)="submit()" style="margin-left:35%;margin-top:5%" color="success">Generate Excel</ion-button>
  </div>
</ion-content>
